input {
    color: gray;
   }
td{
    font-weight: bold; 
    align: left;
    border: 2px solid gray;
    border-radius: 8px; 
    padding: 4px;
    width: 300 px;
    height:600 px;
    }
h2 {
    text-align: left;
    }   
h4 {
    text-align: left;
    font-weight: bold;    
    }
.bgcolor{
    background-color: yellow;
}