input {
    color: gray;
   }
   table{
        padding: 4 px
        height: 600px;
        width: 400px;
        background-image: url("icon-form.png");
        background-color: yellowgreen
   }   





div {
    
        
}
.bgcolor{
    background-color: yellow;
}