input {
    color: gray;
   }
   td{
        align: left;
        border: 2px solid gray;
        border-radius: 4px; 
        padding: 4px;
        width: 300 px;
        height:1200 px;
        
        background-color: yellowgreen
   }
   h2 {
       text-align: left;
   }   

 h4 {
    text-align: left;
    font-weight: bold;    
}

div {
    
        
}
.bgcolor{
    background-color: yellow;
}